<div class="clearfix">
  <div id="registration-form">
    <h1>Sign Up</h1>
    <%= render 'form' %>
  </div>

  <div id="terms-of-service">
    <h1>Things to know</h1>
    <h2>How to remain a good Frequent</h2>

    <ul>
      <li>Please be courteous and don't put down others</li>
      <li><span class="highlight">Do not discriminate</span> based on race, religion or culture</li>
      <li>Keep your language appropriate. Though we don't censor or frown upon swearing, use common sense and <span class="highlight">only use words that facilitate what you are trying to say</span></li>
      <li>Do not upload any content that you don't have the right to share</li>
      <li>Any content uploaded that contains any <span class="highlight">illegal or illicit imagery will be removed</span></li>
      <li><span class="highlight">We will never give out your personal information</span> to 3rd parties</li>
      <li>We will not be held responsible for any personal information you share with the public</li>
      <li>We retain the right to <span class="highlight">deny service to whomever</span> we like based on their actions being abusive, illegal or detrimental to the community</li>
      <li>We have the right to change these terms at any time</li>
      <li><strong><span class="highlight">By signing up, you agree to these terms</span></strong></li>
    </ul>
  </div>
</div>