@import "compass/css3";
@import "mixins";
@import "variables";

#registration-teaser {
  width: 100%;
  @include border-radius(5px);
  padding: 10px 5px;
  background-color: #f7f7f7;
  border: 1px solid darken(#f7f7f7, 9%);
  margin-bottom: 20px;
  height: 116px;

  #mario-head {
    width: 125px;
    height: 115px;
    background: image-url("mario-head.png") no-repeat;
    float: left;
    margin: -10px 30px -13px 10px;
  }
  h2 {
    font-weight: bold;
    padding-bottom: 0;
    font-size: 27px;
  }
  #teaser-text {
    font-size: 20px;
    color: #555;
    padding-top: 5px;
  }
  a.large-signup-button {
    float: right;
    font-size: 30px;
    padding: 4px 15px;
    @include border-radius(3px);
    margin: 28px 30px 0 0;
    border-bottom: 2px solid darken(#4cbd82, 10%);
    background-color: #4cbd82;
    color: #fff;

    &:hover {
      text-decoration: none;
      background-color: darken(#4cbd82, 5%);
      @include transition(all .1s linear);
      border-bottom: 2px solid darken(#4cbd82, 17%);
    }
  }
}

#featured-posts {
  margin-bottom: 2px;

  a.article-box {
    width: 33.1%;
    height: 232px;
    float: left;
    display: block;
    position: relative;
    margin-right: 2px;
    background-size: cover;
    background-repeat: no-repeat;

    &:first-child {
      @include border-radius(5px 0 0 0);
    }
    &:last-child {
      @include border-radius(0 5px 0 0);
      margin-right: 0;
    }

    small {
      font-size: 20px;
      display: block;
      bottom: 20px;
      position: absolute;
    }
  }
  .article-overlay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 31px;
    padding: 15px 20px;
    color: #fff;
    @include transition(all 0.1s linear);

    &:hover {
      @include transition(all 0.1s linear);
    }
  }
  #blue-overlay {
    @include border-radius(5px 0 0 0);
    background-color: rgba(65,146,172,0.75);
    @include text-shadow(darken(#4192ac, 10%) 1px 2px);

    &:hover {
      background-color: rgba(65,146,172,0.95);
    }
  }
  #red-overlay {
    background-color: rgba(171,65,65,0.75);
    @include text-shadow(darken(#ab4141, 10%) 1px 2px);

    &:hover {
      background-color: rgba(171,65,65,0.95);
    }
  }
  #green-overlay {
    @include border-radius(0 5px 0 0);
    background-color: rgba(91,152,110,0.75);
    @include text-shadow(darken(#5b986e, 10%) 1px 2px);

    &:hover {
      background-color: rgba(91,152,110,0.95);
    }
  }
}

#latest-pictures {
  a.picture-frame-container {
    position: relative;
    width: 139px;
    height: 139px;
    float: left;
    margin-right: 2px;
    overflow: hidden;

    &:nth-child(odd) {
      width: 140px;
    }
    &:last-child {
      margin-right: 0;
      width: 141px;
    }

    .black-overlay {
      background-color: rgba(177,177,177,0.3);
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      @include transition(all 0.1s linear);

      &:hover {
        background-color: rgba(177,177,177,0);
        @include transition(all 0.1s linear);
      }
    }
    .picture-frame {
      width: 100%;
      height: 100%;
      @include transition(all 0.1s linear);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#homepage-left-side {
  padding-top: 20px;
  width: 65%;
  float: left;
}

#users-online {
  margin-top: 20px;
  padding-left: 30px;
  float: left;
  width: 35%;

  h2 { color: #646464;}
  .user-online {
    font-size: 19px;
    padding: 5px 0;
    font-weight: bold;

    .time-ago {
      color: #999;
      font-weight: normal;
      font-size: 17px;
    }
    .user-online-avatar {
      float: left;
      width: 20px;
      height: 20px;
      @include border-radius(15px);
      overflow: hidden;
      margin: 0 10px -4px 0;

      img { height: 100%; }
    }
  }
}